# The Movie DataBase (TMDB)

In [1]:
import datetime
import pandas as pd
import numpy as np
import json
import re

In [2]:
movies= pd.read_csv('tmdb_5000_movies.csv')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [3]:
credits= pd.read_csv('tmdb_5000_credits.csv')
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

1- For each movie, compute the number of cast members

In [4]:
def cast_members(data):
    item_dict = json.loads(data)
    return(len(item_dict))
credits['cast_members'] = credits['cast'].apply(cast_members)
credits[['movie_id','cast_members']].head()

   movie_id  cast_members
0     19995            83
1       285            34
2    206647            83
3     49026           158
4     49529            27

2- How many movies do not have a homepage?

In [5]:
nohomepage=movies[movies['homepage'].isnull()]
len(nohomepage.index)

3091

3- For each year, how many movies do not have a homepage?

In [6]:
movies['years']= pd.to_datetime(movies['release_date'],format="%Y-%m-%d").dt.year
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,years
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2007.0

In [7]:
movies['years'] = movies['years'].replace(np.nan, 'Missing')
nohomepage=movies[movies['homepage'].isnull()]
nohomepage[['id', 'years']].groupby('years').count().tail()

          id
years
2013.0   127
2014.0   157
2015.0   110
2016.0    31
Missing    1

4- Extract the domain of each homepage.

In [8]:
def extract_dom(url):
    if (pd.isnull(url)):
        return(np.nan)
    else:
        result=re.findall(r'[\w+.]+',url)
        return (result[1])
movies['domain']=movies['homepage'].apply(extract_dom)
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,years,domain
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009,www.avatarmovie.com
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2007,disney.go.com

5- Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

#### Creo tabella movie_id

In [9]:
movie_id = movies[['id', 'budget', 'homepage', 'domain', 'original_language', 'original_title', 'overview', 'popularity', 'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title', 'vote_average', 'vote_count' ]]
movie_id = movie_id.set_index(['id'])
movie_id.head(2)

,budget,homepage,domain,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
id,,,,,,,,,,,,,,,
19995,237000000,http://www.avatarmovie.com/,www.avatarmovie.com,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800
285,300000000,http://disney.go.com/disneypictures/pirates/,disney.go.com,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

#### Creo tabella genere

In [10]:
genere=pd.DataFrame()
for film in list(range(0,len(movies['genres']))):
    tabjson=pd.read_json(movies['genres'][film])
    genere=pd.concat([genere, tabjson])
genere = genere.set_index(['id'])
genere= genere.drop_duplicates() #per eliminare le righe duplicate
genere.head()

                name
id
28            Action
12         Adventure
14           Fantasy
878  Science Fiction
80             Crime

#### Creo tabella genere_id

In [11]:
genere_id=pd.DataFrame()
for film in list(range(0,len(movies['genres']))):
    tabjson=pd.read_json(movies['genres'][film])
    idfilm=movies['id'][film]
    tabjson['movie_id']=idfilm
    genere_id=pd.concat([genere_id, tabjson])
del genere_id['name']
genere_id = genere_id.set_index(['movie_id', 'id'])
genere_id.head()

Empty DataFrame
Columns: []
Index: [(19995, 28.0), (19995, 12.0), (19995, 14.0), (19995, 878.0), (285, 12.0)]

#### Creo tabella keywords

In [12]:
keywords=pd.DataFrame()
for film in list(range(0,len(movies['keywords']))):
    tabjson=pd.read_json(movies['keywords'][film])
    keywords=pd.concat([keywords, tabjson])
keywords = keywords.set_index(['id'])
keywords = keywords.drop_duplicates()
keywords.head()

               name
id
1463  culture clash
2964         future
3386      space war
3388   space colony
3679        society

#### Creo tabella keywords_id

In [13]:
keywords_id=pd.DataFrame()
for film in list(range(0,len(movies['keywords']))):
    tabjson=pd.read_json(movies['keywords'][film])
    idfilm=movies['id'][film]
    tabjson['movie_id']=idfilm
    keywords_id=pd.concat([keywords_id, tabjson])
del keywords_id['name']
keywords_id = keywords_id.set_index(['movie_id', 'id'])
keywords_id.head()

Empty DataFrame
Columns: []
Index: [(19995, 1463.0), (19995, 2964.0), (19995, 3386.0), (19995, 3388.0), (19995, 3679.0)]

#### Creo tabella prod_companies

In [14]:
prod_companies=pd.DataFrame()
for film in list(range(0,len(movies['production_companies']))):
    tabjson=pd.read_json(movies['production_companies'][film])
    prod_companies=pd.concat([prod_companies, tabjson])
prod_companies = prod_companies.set_index(['id'])
prod_companies = prod_companies.drop_duplicates()
prod_companies.head()

                                       name
id
289                 Ingenious Film Partners
306  Twentieth Century Fox Film Corporation
444                      Dune Entertainment
574                Lightstorm Entertainment
2                      Walt Disney Pictures

#### Creo tabella prod_companies_id

In [15]:
prod_companies_id=pd.DataFrame()
for film in list(range(0,len(movies['production_companies']))):
    tabjson=pd.read_json(movies['production_companies'][film])
    idfilm=movies['id'][film]
    tabjson['movie_id']=idfilm
    prod_companies_id=pd.concat([prod_companies_id, tabjson])
del prod_companies_id['name']
prod_companies_id = prod_companies_id.set_index(['movie_id', 'id'])
prod_companies_id.head()

Empty DataFrame
Columns: []
Index: [(19995, 289.0), (19995, 306.0), (19995, 444.0), (19995, 574.0), (285, 2.0)]

#### Creo tabella prod_countries

In [16]:
prod_countries=pd.DataFrame()
for film in list(range(0,len(movies['production_countries']))):
    tabjson=pd.read_json(movies['production_countries'][film])
    prod_countries=pd.concat([prod_countries, tabjson])
prod_countries = prod_countries.set_index(['iso_3166_1'])
prod_countries = prod_countries.drop_duplicates()
prod_countries.head()

                                name
iso_3166_1
US          United States of America
GB                    United Kingdom
JM                           Jamaica
BS                           Bahamas
DM                          Dominica

#### Creo tabella prod_countries_id

In [17]:
prod_countries_id=pd.DataFrame()
for film in list(range(0,len(movies['production_countries']))):
    tabjson=pd.read_json(movies['production_countries'][film])
    idfilm=movies['id'][film]
    tabjson['movie_id']=idfilm
    prod_countries_id=pd.concat([prod_countries_id, tabjson])
del prod_countries_id['name']
prod_countries_id = prod_countries_id.set_index(['movie_id', 'iso_3166_1'])
prod_countries_id.head()

Empty DataFrame
Columns: []
Index: [(19995, US), (19995, GB), (285, US), (206647, GB), (206647, US)]

#### Creo tabella spoken_languages

In [18]:
spoken_languages=pd.DataFrame()
for film in list(range(0,len(movies['spoken_languages']))):
    tabjson=pd.read_json(movies['spoken_languages'][film])
    spoken_languages=pd.concat([spoken_languages, tabjson])
spoken_languages = spoken_languages.set_index(['iso_639_1'])
spoken_languages = spoken_languages.drop_duplicates()
spoken_languages.head()

               name
iso_639_1
en          English
es          Español
fr         Français
it         Italiano
de          Deutsch

#### Creo tabella spoken_languages_id

In [19]:
spoken_languages_id=pd.DataFrame()
for film in list(range(0,len(movies['spoken_languages']))):
    tabjson=pd.read_json(movies['spoken_languages'][film])
    idfilm=movies['id'][film]
    tabjson['movie_id']=idfilm
    spoken_languages_id=pd.concat([spoken_languages_id, tabjson])
del spoken_languages_id['name']
spoken_languages_id = spoken_languages_id.set_index(['movie_id', 'iso_639_1'])
spoken_languages_id.head()

Empty DataFrame
Columns: []
Index: [(19995, en), (19995, es), (285, en), (206647, fr), (206647, en)]

#### Creo tabella credits_id

In [60]:
credits_id=credits[['movie_id', 'cast_members']]
credits_id = credits_id.set_index(['movie_id'])
credits_id.head()

          cast_members
movie_id
19995               83
285                 34
206647              83
49026              158
49529               27

#### Creo tabella cast_id

In [36]:
cast_id=pd.DataFrame()
for film in list(range(0,len(credits['cast']))):
    tabjson=pd.read_json(credits['cast'][film])
    idfilm=credits['movie_id'][film]
    tabjson['movie_id']=idfilm
    cast_id=pd.concat([cast_id, tabjson])
cast_id = cast_id.set_index(['movie_id','cast_id'])
cast_id = cast_id[['movie_id', 'cast_id', 'id', 'order', 'credit_id']]
cast_id.head()

                                    character                 credit_id  \
movie_id id      cast_id
19995    65731.0 242.0             Jake Sully  5602a8a7c3a3685532001c9a
         8691.0  3.0                  Neytiri  52fe48009251416c750ac9cb
         10205.0 25.0     Dr. Grace Augustine  52fe48009251416c750aca39
         32747.0 4.0            Col. Quaritch  52fe48009251416c750ac9cf
         17647.0 5.0             Trudy Chacon  52fe48009251416c750ac9d3

                          gender                name  order
movie_id id      cast_id
19995    65731.0 242.0       2.0     Sam Worthington    0.0
         8691.0  3.0         1.0         Zoe Saldana    1.0
         10205.0 25.0        1.0    Sigourney Weaver    2.0
         32747.0 4.0         2.0        Stephen Lang    3.0
         17647.0 5.0         1.0  Michelle Rodriguez    4.0

#### Creo tabella attori

In [101]:
attori_crew=crew_id.reset_index()
attori_crew=attori_crew[['id', 'gender', 'name']]
attori_cast=cast_id.reset_index()
attori_cast=attori_cast[['id', 'gender', 'name']]
attori=pd.concat([attori_crew, attori_cast])
attori=attori.sort_values('id').drop_duplicates().set_index('id')
attori.head()

     gender           name
id
1.0     2.0   George Lucas
2.0     2.0    Mark Hamill
3.0     2.0  Harrison Ford
4.0     1.0  Carrie Fisher
5.0     2.0  Peter Cushing

#### Creo tabella crew_id

In [41]:
crew_id=pd.DataFrame()
for film in list(range(0,len(credits['crew']))):
    tabjson=pd.read_json(credits['crew'][film])
    idfilm=credits['movie_id'][film]
    tabjson['movie_id']=idfilm
    crew_id=pd.concat([crew_id, tabjson])
crew_id = crew_id.set_index(['movie_id', 'credit_id'])
crew_id = crew_id[['movie_id', 'credit_id', 'id', 'department', 'job']]
crew_id.head()

                                          department  gender  \
movie_id id     credit_id
19995    1721.0 52fe48009251416c750aca23     Editing     0.0
         496.0  539c47ecc3a36810e3001f87         Art     2.0
         900.0  54491c89c3a3680fb4001cf7       Sound     0.0
                54491cb70e0a267480001bd0       Sound     0.0
         1262.0 539c4a4cc3a36810c9002101  Production     1.0

                                                               job  \
movie_id id     credit_id
19995    1721.0 52fe48009251416c750aca23                    Editor
         496.0  539c47ecc3a36810e3001f87         Production Design
         900.0  54491c89c3a3680fb4001cf7            Sound Designer
                54491cb70e0a267480001bd0  Supervising Sound Editor
         1262.0 539c4a4cc3a36810c9002101                   Casting

                                                       name
movie_id id     credit_id
19995    1721.0 52fe48009251416c750aca23  Stephen E. Rivkin
         496.0  539c47ecc3a36810e3001f87        Rick Carter
         900.0  54491c89c3a3680fb4001cf7  Christopher Boyes
                54491cb70e0a267480001bd0  Christopher Boyes
         1262.0 539c4a4cc3a36810c9002101          Mali Finn

6- For each movie, compute the gross margin (difference between revenue and budget)

In [25]:
movies['gross_margin'] = movies['revenue'] - movies['budget']
movies[['id','title','gross_margin']].head()

       id                                     title  gross_margin
0   19995                                    Avatar    2550965087
1     285  Pirates of the Caribbean: At World's End     661000000
2  206647                                   Spectre     635674609
3   49026                     The Dark Knight Rises     834939099
4   49529                               John Carter      24139100

7- For each movie, compute the number of crew members

In [26]:
crew_id = crew_id.reset_index() 
crew=crew.reset_index()

df=pd.merge(crew_id, crew, on=['id', 'credit_id'])
members=df[['movie_id','id']].groupby('movie_id').count()
members.rename(index=str, columns={"id" : "n_CrewMembers"}).head()

          n_CrewMembers
movie_id
5                    45
11                    2
12                   61
13                   43
14                   41

8- For each movie, compute the number of directors

In [27]:
directors= crew.loc[crew.job == 'Director']
df1= pd.merge(crew_id, directors, on=['id', 'credit_id'])
num_directors= df1[['movie_id', 'id']].groupby('movie_id').count()
num_directors.rename(index=str, columns={'id': 'num_Directors'}).head()

          num_Directors
movie_id
5                     2
18                    1
19                    1
35                    1
152                   1

9- For each language, compute the number of movies where such language is spoken.

In [28]:
spoken_languages_id= spoken_languages_id.reset_index()
spoken_languages= spoken_languages.reset_index()
df2= pd.merge(spoken_languages_id, spoken_languages, on = 'iso_639_1')
df2.head()

   movie_id iso_639_1     name
0     19995        en  English
1       285        en  English
2    206647        en  English
3     49026        en  English
4     49529        en  English

In [29]:
lang= df2.groupby(['name', 'iso_639_1']).count()
lang.rename(index=str, columns={'movie_id': 'count_movie'})
lang= lang.iloc[2:] #vengono tolte le prime due righe del dataset, non classificabili in nessuna lingua
lang.head()

                            movie_id
name             iso_639_1
Afrikaans        af                7
Bahasa indonesia id                2
Bamanankan       bm                1
Bosanski         bs                2
Català           ca                1

10- For each company and each decade, compute the overall revenue

In [30]:
pc= prod_companies_id.reset_index()
pc1= movies_1.reset_index()
pc1= pc1[['id', 'revenue', 'years']]
pc1['decade']= pd.to_datetime(movies['release_date'],format="%Y-%m-%d").dt.year//10
pc1['decade'] = pc1.decade.replace(np.nan, 'Missing')
pc2=pd.merge(pc, pc1, left_on= 'movie_id', right_on='id')
pc2.head()

NameError: name 'movies_1' is not defined

In [ ]:
pc2[['id_x','decade','revenue']].groupby(['id_x', 'decade']).sum().head()

11- For each decade, compute the company with maximum revenue

12- In each year, how many movies have revenue smaller than the budget?

In [ ]:
movies_unsuccess= movies.loc[movies.gross_margin < 0, ['years','gross_margin']]
movies_unsuccess= movies_unsuccess.groupby('years').count()
movies_unsuccess.rename(index=str, columns={'gross_margin': 'count_unsuccess'}).head(10)

1- Distribute the revenue according to the order of appearance in a movie. Assume that the i-th actor contributes twice as much as the (i+1)-th actor to the revenue.

In [ ]:
cast.head()

In [ ]:
cast_id.head()

In [ ]:
cast=cast.reset_index()
cast_id=cast_id.reset_index()

In [ ]:
prova2= pd.merge(pd.merge(cast, cast_id, on=['id', 'cast_id']), movies[['id', 'revenue']], left_on='movie_id', right_on='id' )
prova2.head()

In [ ]:
numero=prova2.groupby('movie_id').count()['order']
numero=pd.DataFrame(numero)
numero=numero.reset_index()
numero=numero.rename(index=str, columns={'order': 'numero_cast'})
numero.head()

In [213]:
prova3= pd.merge(prova2, numero, on='movie_id')
prova3

,index,id_x,cast_id,character,credit_id,gender,name,order,movie_id,id_y,revenue,numero_cast
0,0,65731,242,Jake Sully,5602a8a7c3a3685532001c9a,2,Sam Worthington,0,19995,19995,2787965087,89
1,1,8691,3,Neytiri,52fe48009251416c750ac9cb,1,Zoe Saldana,1,19995,19995,2787965087,89
2,30452,8691,3,Maria (voice),52fe4ec79251416c7516217d,1,Zoe Saldana,2,19995,19995,2787965087,89
3,38097,8691,3,Cataleya Restrepo,52fe468fc3a368484e097593,1,Zoe Saldana,0,19995,19995,2787965087,89
4,41028,8691,3,Theresa Jones,52fe446e9251416c75034723,1,Zoe Saldana,2,19995,19995,2787965087,89
5,2,10205,25,Dr. Grace Augustine,52fe48009251416c750aca39,1,Sigourney Weaver,2,19995,19995,2787965087,89
6,3,32747,4,Col. Quaritch,52fe48009251416c750ac9cf,2,Stephen Lang,3,19995,19995,2787965087,89
7,4,17647,5,Trudy Chacon,52fe48009251416c750ac9d3,1,Michelle Rodriguez,4,19995,19995,2787965087,89
8,55022,17647,5,Katarin,52fe4cd4c3a36847f8240803,1,Michelle Rodriguez,2,19995,19995,2787965087,89
9,74274,17647,5,Luz,52fe4471c3a368484e023641,1,Michelle Rodriguez,1,19995,19995,2787965087,89
10,5,1771,8,Selfridge,52fe48009251416c750ac9e1,2,Giovanni Ribisi,5,19995,19995,2787965087,89
11,6,59231,7,Norm Spellman,52fe48009251416c750ac9dd,2,Joel David Moore,6,19995,19995,2787965087,89
12,7,30485,9,Moat,52fe48009251416c750ac9e5,1,CCH Pounder,7,19995,19995,2787965087,89
13,8,15853,11,Eytukan,52fe48009251416c750ac9ed,2,Wes Studi,8,19995,19995,2787965087,89
14,9,10964,10,Tsu'Tey,52fe48009251416c750ac9e9,2,Laz Alonso,9,19995,19995,2787965087,89
15,10,95697,12,Dr. Max Patel,52fe48009251416c750ac9f1,2,Dileep Rao,10,19995,19995,2787965087,89
16,11,98215,13,Lyle Wainfleet,52fe48009251416c750ac9f5,2,Matt Gerald,11,19995,19995,2787965087,89
17,20804,98215,13,Roag,52fe4a88c3a36847f81d39f5,2,Matt Gerald,6,19995,19995,2787965087,89
18,12,154153,32,Private Fike,52fe48009251416c750aca5b,2,Sean Anthony Moran,12,19995,19995,2787965087,89
19,13,397312,33,Cryo Vault Med Tech,52fe48009251416c750aca5f,2,Jason Whyte,13,19995,19995,2787965087,89
20,14,42317,34,Venture Star Crew Chief,52fe48009251416c750aca63,2,Scott Lawrence,14,19995,19995,2787965087,89
21,15,986734,35,Lock Up Trooper,52fe48009251416c750aca67,2,Kelly Kilgour,15,19995,19995,2787965087,89
22,16,1207227,36,Shuttle Pilot,52fe48009251416c750aca6b,0,James Patrick Pitt,16,19995,19995,2787965087,89
23,17,1180936,37,Shuttle Co-Pilot,52fe48009251416c750aca6f,0,Sean Patrick Murphy,17,19995,19995,2787965087,89
24,18,1019578,38,Shuttle Crew Chief,52fe48009251416c750aca73,2,Peter Dillon,18,19995,19995,2787965087,89
25,19,91443,39,Tractor Operator / Troupe,52fe48009251416c750aca77,0,Kevin Dorman,19,19995,19995,2787965087,89
26,20,173391,40,Dragon Gunship Pilot,52fe48009251416c750aca7b,2,Kelson Henderson,20,19995,19995,2787965087,89
27,21,1207236,41,Dragon Gunship Gunner,52fe48009251416c750aca7f,0,David Van Horn,21,19995,19995,2787965087,89
28,22,215913,42,Dragon Gunship Navigator,52fe48009251416c750aca83,0,Jacob Tomuri,22,19995,19995,2787965087,89
29,23,143206,43,Suit #1,52fe48009251416c750aca87,0,Michael Blain-Rozgay,23,19995,19995,2787965087,89
...,...,...,...,...,...,...,...,...,...,...,...,...
127595,106209,110172,7,Philip,52fe45e79251416c750667a5,0,Anand Upadhyaya,3,14337,14337,424760,19
127596,106210,110173,8,Kara,52fe45e79251416c750667a9,0,Carrie Crawford,4,14337,14337,424760,19
127597,106211,1080287,10,Metalshop Worker,52fe45e79251416c750667b3,0,Jay Butler,5,14337,14337,424760,19
127598,106212,1080288,11,Man On Couch #1,52fe45e79251416c750667b7,0,John Carruth,6,14337,14337,424760,19
127599,106213,1080289,12,Man On Couch #2,52fe45e79251416c750667bb,0,Juan Tapia,7,14337,14337,424760,19
127600,106214,1080290,13,Hostess,52fe45e79251416c750667bf,0,Ashley Warren,8,14337,14337,424760,19
127601,106215,1080291,14,Rachel Granger,52fe45e89251416c750667c3,0,Samantha Thomson,9,14337,14337,424760,19
127602,106216,1080292,15,Thomas Granger,52fe45e89251416c750667c7,0,Chip Carruth,10,14337,14337,424760,19
127603,106217,1080293,16,Laney,52fe45e89251416c750667cb,0,Delaney Price,11,14337,14337,424760,19
127604,106218,1080294,17,Aaron's Co-worker,52fe45e89251416c750667cf,0,Jack Pyland,12,14337,14337,424760,19
127605,106219,1080295,18,Clean Room Technician,52fe45e89251416c750667d3,0,Keith Bradshaw,13,14337,14337,424760,19
127606,106220,1080296,19,Laboratory Technician,52fe45e89251416c750667d7,0,Ashok Upadhyaya,14,14337,14337,424760,19
127607,106221,1080297,20,Will,52fe45e89251416c750667db,0,Brandon Blagg,15,14337,14337,424760,19
127608,106222,1080298,21,Will's Cousin,52fe45e89251416c750667df,0,Jon Cook,16,14337,14337,424760,19
127609,106223,203260,22,Rachel's Date,52fe45e89251416c750667e3,2,David Joyner,17,14337,14337,424760,19
127610,106224,1080299,23,Translator,52fe45e89251416c750667e7,0,Eric De Soualhat,18,14337,14337,424760,19
127611,106225,20498,1,El Mariachi,52fe44eec3a36847f80b27f9,2,Carlos Gallardo,0,9367,9367,2040920,7
127612,106226,57470,3,Bigotón,52fe44eec3a36847f80b2801,0,Jaime de Hoyos,2,9367,9367,2040920,7
127613,106227,57471,4,Mauricio (Moco),52fe44eec3a36847f80b2805,2,Peter Marquardt,3,9367,9367,2040920,7
127614,106228,1192733,18,Azul,52fe44eec3a36847f80b2851,0,Reinol Martinez,4,9367,9367,2040920,7
127615,106229,1192734,19,Cantinero,52fe44eec3a36847f80b2855,0,Ramiro Gomez,5,9367,9367,2040920,7
127616,106230,1293343,20,Domino,5300df549251416ae738b1f4,0,Consuelo Gómez,6,9367,9367,2040920,7
127617,106231,1066358,21,Moco's Men,58f41b409251413da7019f90,2,Juan García,7,9367,9367,2040920,7
127618,106237,11867,8,Oliver O’Toole,52fe4df3c3a36847f8275ed3,2,Eric Mabius,0,231617,231617,0,7
127619,106238,34915,9,Shane McInerney,52fe4df3c3a36847f8275ed7,1,Kristin Booth,1,231617,231617,0,7
127620,106239,58393,11,Rita Haywith,52fe4df3c3a36847f8275edf,1,Crystal Lowe,2,231617,231617,0,7
127621,106240,119810,12,Norman Dorman,52fe4df3c3a36847f8275ee3,0,Geoff Gustafson,3,231617,231617,0,7
127622,106241,77865,14,Charlie Riggs,52fe4df3c3a36847f8275eeb,2,Benjamin Hollingsworth,4,231617,231617,0,7
127623,106242,1037844,13,Kelly,52fe4df3c3a36847f8275ee7,1,Laci J Mailey,5,231617,231617,0,7
127624,106243,14668,10,Andrea Shmeckle,52fe4df3c3a36847f8275edb,1,Daphne Zuniga,6,231617,231617,0,7

In [221]:
ordine=3
posizione=1
for i in list(range(0,ordine-1)):
    posizione=posizione*2
posizione

4

In [225]:
def parti(persone, guadagno, ordine):
    if (pd.isnull(guadagno)):
        return(np.nan)
    else:
        somma=0
        posizione=0
        for i in list(range(0,persone)):
            somma=somma + 2**(i)
        for i in list(range(0,ordine)):
            posizione=posizione*2
        parte=guadagno/somma
        parte=parte*posizione
        return(parte)
prova3['parti']=list(map(parti,prova3['numero_cast'], prova3['revenue'], prova3['order']))
prova3

,index,id_x,cast_id,character,credit_id,gender,name,order,movie_id,id_y,revenue,numero_cast,parti
0,0,65731,242,Jake Sully,5602a8a7c3a3685532001c9a,2,Sam Worthington,0,19995,19995,2787965087,89,0.0
1,1,8691,3,Neytiri,52fe48009251416c750ac9cb,1,Zoe Saldana,1,19995,19995,2787965087,89,0.0
2,30452,8691,3,Maria (voice),52fe4ec79251416c7516217d,1,Zoe Saldana,2,19995,19995,2787965087,89,0.0
3,38097,8691,3,Cataleya Restrepo,52fe468fc3a368484e097593,1,Zoe Saldana,0,19995,19995,2787965087,89,0.0
4,41028,8691,3,Theresa Jones,52fe446e9251416c75034723,1,Zoe Saldana,2,19995,19995,2787965087,89,0.0
5,2,10205,25,Dr. Grace Augustine,52fe48009251416c750aca39,1,Sigourney Weaver,2,19995,19995,2787965087,89,0.0
6,3,32747,4,Col. Quaritch,52fe48009251416c750ac9cf,2,Stephen Lang,3,19995,19995,2787965087,89,0.0
7,4,17647,5,Trudy Chacon,52fe48009251416c750ac9d3,1,Michelle Rodriguez,4,19995,19995,2787965087,89,0.0
8,55022,17647,5,Katarin,52fe4cd4c3a36847f8240803,1,Michelle Rodriguez,2,19995,19995,2787965087,89,0.0
9,74274,17647,5,Luz,52fe4471c3a368484e023641,1,Michelle Rodriguez,1,19995,19995,2787965087,89,0.0
10,5,1771,8,Selfridge,52fe48009251416c750ac9e1,2,Giovanni Ribisi,5,19995,19995,2787965087,89,0.0
11,6,59231,7,Norm Spellman,52fe48009251416c750ac9dd,2,Joel David Moore,6,19995,19995,2787965087,89,0.0
12,7,30485,9,Moat,52fe48009251416c750ac9e5,1,CCH Pounder,7,19995,19995,2787965087,89,0.0
13,8,15853,11,Eytukan,52fe48009251416c750ac9ed,2,Wes Studi,8,19995,19995,2787965087,89,0.0
14,9,10964,10,Tsu'Tey,52fe48009251416c750ac9e9,2,Laz Alonso,9,19995,19995,2787965087,89,0.0
15,10,95697,12,Dr. Max Patel,52fe48009251416c750ac9f1,2,Dileep Rao,10,19995,19995,2787965087,89,0.0
16,11,98215,13,Lyle Wainfleet,52fe48009251416c750ac9f5,2,Matt Gerald,11,19995,19995,2787965087,89,0.0
17,20804,98215,13,Roag,52fe4a88c3a36847f81d39f5,2,Matt Gerald,6,19995,19995,2787965087,89,0.0
18,12,154153,32,Private Fike,52fe48009251416c750aca5b,2,Sean Anthony Moran,12,19995,19995,2787965087,89,0.0
19,13,397312,33,Cryo Vault Med Tech,52fe48009251416c750aca5f,2,Jason Whyte,13,19995,19995,2787965087,89,0.0
20,14,42317,34,Venture Star Crew Chief,52fe48009251416c750aca63,2,Scott Lawrence,14,19995,19995,2787965087,89,0.0
21,15,986734,35,Lock Up Trooper,52fe48009251416c750aca67,2,Kelly Kilgour,15,19995,19995,2787965087,89,0.0
22,16,1207227,36,Shuttle Pilot,52fe48009251416c750aca6b,0,James Patrick Pitt,16,19995,19995,2787965087,89,0.0
23,17,1180936,37,Shuttle Co-Pilot,52fe48009251416c750aca6f,0,Sean Patrick Murphy,17,19995,19995,2787965087,89,0.0
24,18,1019578,38,Shuttle Crew Chief,52fe48009251416c750aca73,2,Peter Dillon,18,19995,19995,2787965087,89,0.0
25,19,91443,39,Tractor Operator / Troupe,52fe48009251416c750aca77,0,Kevin Dorman,19,19995,19995,2787965087,89,0.0
26,20,173391,40,Dragon Gunship Pilot,52fe48009251416c750aca7b,2,Kelson Henderson,20,19995,19995,2787965087,89,0.0
27,21,1207236,41,Dragon Gunship Gunner,52fe48009251416c750aca7f,0,David Van Horn,21,19995,19995,2787965087,89,0.0
28,22,215913,42,Dragon Gunship Navigator,52fe48009251416c750aca83,0,Jacob Tomuri,22,19995,19995,2787965087,89,0.0
29,23,143206,43,Suit #1,52fe48009251416c750aca87,0,Michael Blain-Rozgay,23,19995,19995,2787965087,89,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127595,106209,110172,7,Philip,52fe45e79251416c750667a5,0,Anand Upadhyaya,3,14337,14337,424760,19,0.0
127596,106210,110173,8,Kara,52fe45e79251416c750667a9,0,Carrie Crawford,4,14337,14337,424760,19,0.0
127597,106211,1080287,10,Metalshop Worker,52fe45e79251416c750667b3,0,Jay Butler,5,14337,14337,424760,19,0.0
127598,106212,1080288,11,Man On Couch #1,52fe45e79251416c750667b7,0,John Carruth,6,14337,14337,424760,19,0.0
127599,106213,1080289,12,Man On Couch #2,52fe45e79251416c750667bb,0,Juan Tapia,7,14337,14337,424760,19,0.0
127600,106214,1080290,13,Hostess,52fe45e79251416c750667bf,0,Ashley Warren,8,14337,14337,424760,19,0.0
127601,106215,1080291,14,Rachel Granger,52fe45e89251416c750667c3,0,Samantha Thomson,9,14337,14337,424760,19,0.0
127602,106216,1080292,15,Thomas Granger,52fe45e89251416c750667c7,0,Chip Carruth,10,14337,14337,424760,19,0.0
127603,106217,1080293,16,Laney,52fe45e89251416c750667cb,0,Delaney Price,11,14337,14337,424760,19,0.0
127604,106218,1080294,17,Aaron's Co-worker,52fe45e89251416c750667cf,0,Jack Pyland,12,14337,14337,424760,19,0.0
127605,106219,1080295,18,Clean Room Technician,52fe45e89251416c750667d3,0,Keith Bradshaw,13,14337,14337,424760,19,0.0
127606,106220,1080296,19,Laboratory Technician,52fe45e89251416c750667d7,0,Ashok Upadhyaya,14,14337,14337,424760,19,0.0
127607,106221,1080297,20,Will,52fe45e89251416c750667db,0,Brandon Blagg,15,14337,14337,424760,19,0.0
127608,106222,1080298,21,Will's Cousin,52fe45e89251416c750667df,0,Jon Cook,16,14337,14337,424760,19,0.0
127609,106223,203260,22,Rachel's Date,52fe45e89251416c750667e3,2,David Joyner,17,14337,14337,424760,19,0.0
127610,106224,1080299,23,Translator,52fe45e89251416c750667e7,0,Eric De Soualhat,18,14337,14337,424760,19,0.0
127611,106225,20498,1,El Mariachi,52fe44eec3a36847f80b27f9,2,Carlos Gallardo,0,9367,9367,2040920,7,0.0
127612,106226,57470,3,Bigotón,52fe44eec3a36847f80b2801,0,Jaime de Hoyos,2,9367,9367,2040920,7,0.0
127613,106227,57471,4,Mauricio (Moco),52fe44eec3a36847f80b2805,2,Peter Marquardt,3,9367,9367,2040920,7,0.0
127614,106228,1192733,18,Azul,52fe44eec3a36847f80b2851,0,Reinol Martinez,4,9367,9367,2040920,7,0.0
127615,106229,1192734,19,Cantinero,52fe44eec3a36847f80b2855,0,Ramiro Gomez,5,9367,9367,2040920,7,0.0
127616,106230,1293343,20,Domino,5300df549251416ae738b1f4,0,Consuelo Gómez,6,9367,9367,2040920,7,0.0
127617,106231,1066358,21,Moco's Men,58f41b409251413da7019f90,2,Juan García,7,9367,9367,2040920,7,0.0
127618,106237,11867,8,Oliver O’Toole,52fe4df3c3a36847f8275ed3,2,Eric Mabius,0,231617,231617,0,7,0.0
127619,106238,34915,9,Shane McInerney,52fe4df3c3a36847f8275ed7,1,Kristin Booth,1,231617,231617,0,7,0.0
127620,106239,58393,11,Rita Haywith,52fe4df3c3a36847f8275edf,1,Crystal Lowe,2,231617,231617,0,7,0.0
127621,106240,119810,12,Norman Dorman,52fe4df3c3a36847f8275ee3,0,Geoff Gustafson,3,231617,231617,0,7,0.0
127622,106241,77865,14,Charlie Riggs,52fe4df3c3a36847f8275eeb,2,Benjamin Hollingsworth,4,231617,231617,0,7,0.0
127623,106242,1037844,13,Kelly,52fe4df3c3a36847f8275ee7,1,Laci J Mailey,5,231617,231617,0,7,0.0
127624,106243,14668,10,Andrea Shmeckle,52fe4df3c3a36847f8275edb,1,Daphne Zuniga,6,231617,231617,0,7,0.0

In [226]:
prova3.max()

index                            106256
id_x                            1893207
cast_id                            1119
character           최민식 (Choi Man-shik)
credit_id      59c576cdc3a3681403033598
gender                                2
name                                 徐帆
order                               224
movie_id                         459488
id_y                             459488
revenue                      2787965087
numero_cast                         232
parti                                 0
dtype: object



2- For each actor find the total revenue attributed to him/her.

3- Find the actor that is responsible for the most overall revenue.



1- For each movie, compute the ratio between males and females in the cast

2- For each movie, compute the ratio between the attributed revenue of males and females in the cast

3- Find the director that has the highest average ratio computed in the previous point.